*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ddd;   
}
body{
    background-image: url(image/5.jpg);
    background-size: cover;
    
}
li ,a{
    
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;   
}
header .logo {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 20px;
    
}
header nav .nav_links li{
    list-style: none;
    margin-right: 70px;
    display: inline;
}
header nav ul {
    margin-top: 40px; 
}
.nav_pages {
    margin: 80px 15px;
}
.nav_pages a{
    text-decoration: none;
    padding: 20px;
}
.section_body {
    margin-bottom: 50px;
    margin-left: 30px;
}
.section_body {
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    line-height: 25px;
}
.posters{
    justify-content: center;
    margin:0 70px ;
}
.posters section{
    display: inline-block;
    margin: 20px 30px;
    border: 3px solid #eee;
    justify-content: center;
    border-radius: 8px;
    
}
.posters section img {
    width: 250px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
   
}
.posters section span{
    display: block;
}
.posters section h2,span{
    margin:  10px 25px ;

}
.posters section #rrp::first-line{
    text-transform: uppercase;
}
.posters section #price::first-letter{
    text-transform: uppercase;
}
.posters section #saving::first-letter{
    text-transform: uppercase;
}
