 *{
    box-sizing :border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeae4;
    margin:auto;  /*les element dans centre */
}
.div{

    margin: 30px;
    padding: 5px;
    width: 350px;
    line-height: 15px;
}
nav{
    display: flex;
    text-decoration: none;
}

